
/* CSS for doing panel flips */

/* flip mixins */

.box-shadow ( @horizontal: 0, @vertical: 0, @blur: 0, @color ) {
	box-shadow: @horizontal @vertical @blur @color;
	-moz-box-shadow: @horizontal @vertical @blur @color;
	-webkit-box-shadow: @horizontal @vertical @blur @color;
}

.transition( @type: all, @time: 400ms, @way: ease-in-out ){
	/* -- transition is the magic sauce for animation -- */
	-o-transition: @type @time @way;
	-ms-transition: @type @time @way;
	-moz-transition: @type @time @way;
	-webkit-transition: @type @time @way;
	transition: @type @time @way;
}

.card-transform( @rotation ) {
	-webkit-transform: @rotation;
	-webkit-transform-style: preserve-3d;
	-webkit-backface-visibility: hidden;

	-moz-transform: @rotation;
	-moz-transform-style: preserve-3d;
	-moz-backface-visibility: hidden;
}

.card-side {
	float: none;
	position: absolute;
	top: 0;
	left: 0;
	
	padding-top: 10px;

	width: 100%;
	height: inherit;

	border: 1px solid #ccc;

	.box-shadow( 0, 1px, 5px, rgba(0,0,0,0.9) );
	.transition;
	.rounded;
}
.card-side-flip{
	.box-shadow( 0, 15px, 50px, rgba(0,0,0,0.2) );
}

.card {
	
	/* from bootstrap, to work around quirks with what we want to do */
	width: 14.893617021276595%;
	margin-right: 2.127659574468085%;
	margin-bottom: 2.127659574468085%;
	display: block;
	float: left;

	&:nth-of-type( 6n ){
		margin-right: 0 ;
	}

	/* end of bootstrap stuff */

	/* test other heights */
	height: 100px;
	position: relative;

	-webkit-perspective: 600px;
	-moz-perspective: 600px;

	.content {
		height: inherit;
		width: inherit;
	}

	.front {
		/* -- These make sure that the flipping goes smoothly, and the views don't move -- */
		.card-side;
		z-index: 900;

		.card-transform( rotateX(0deg) rotateY(0deg) );

		a:hover {
			text-style: none;
		}

	}

	.back {
		/* -- These make sure that the flipping goes smoothly, and the views don't move -- */
		.card-side;
		z-index: 800;
		
		.card-transform( rotateY(-180deg) );
	}

	&.flip {
		.front{
			z-index: 900;

			.card-transform( rotateY(180deg) );
			.card-side-flip;
		}
		.back{
			z-index: 1000;

			.card-transform( rotateX(0deg) rotateY(0deg) );
			.card-side-flip;
		}
	}
}
