
/* CSS for doing panel flips */

/* flip mixins */

.box-shadow ( @horizontal: 0, @vertical: 0, @blur: 0, @color ) {
	box-shadow: @horizontal @vertical @blur @color;
	-moz-box-shadow: @horizontal @vertical @blur @color;
	-webkit-box-shadow: @horizontal @vertical @blur @color;
}

.card {
	
	/* from bootstrap, to work around quirks with what we want to do */
	width: 14.893617021276595%;
	margin-right: 2.127659574468085%;
	margin-bottom: 2.127659574468085%;
	display: block;
	float: left;

	&:nth-of-type( 6n ){
		margin-right: 0 ;
	}

	/* end of bootstrap stuff */

	/* test other heights */
	height: 100px;
	position: relative;

	.box-shadow( 0, 0px, 5px, rgba(0,0,0,0.9) );
	.rounded;

	padding-top: 10px;

	a:hover {
		text-style: none;
	}

	.content {
		height:100%;
		width: 100%;
	}

}
