<div class="row-fluid">
	<div class="span2 hidden-phone"><!-- Awesome disappearing spacer div --></div>
	<div class="span8">
		<p>Hello! I'm Gianni Gambetti and this is my website. The information on this page may or may not be the most up to date, but it was updated <abbr class="timeago" title="{{unbound updated}}">on {{unbound updated}}</abbr>. If for whatever reason you need something that's more up to date, <a href="#/contact">send me a message</a>.
		</p>
		<!-- The abbr tag will be replaced with text that will always end in "ago" -->
		As quickly as possible, this is who I am:
		<blockquote>
			{{quick}}
		</blockquote>
		If you have some more time, you can read this too:
		<blockquote>
			{{short}}
		</blockquote>
		And here are all the details:
		<blockquote>
			{{full}}
		</blockquote>
	</div>
</div>
<div class="row-fluid">
	<div class="span2 hidden-phone"></div>
	<div class="span8">
		<h6>Some more cool stuff:</h6>
		<p>{{other}}</p>
	</div>
</div>	
<div class="row-fluid powered-by">
	<div class="span12">
		<h6>And a quick shout out to all of the tools and frameworks that help power this site!</h6>
		{{#each tech in builtWith}}
			<div class="row-fluid">
				<a href="{{unbound tech.site}}">{{unbound tech.title}}</a> - {{unbound tech.description}}
			</div>
		{{/each}}
	</div>
</div>
