<div class="row">
	<div class="span6">
		Need to get in touch? Here's where to find me.
		<br>
		As well as my <a href="/public-key.asc" title="GPG Key Fingerprint: 90C8 42FD 7D8E F1CA 25C7  63E2 6214 22E5 9C9F 9B75">GPG Key (0x9C9F9B75)</a>.
		<br>
		GPG Key Fingerprint: 90C8 42FD 7D8E F1CA 25C7  63E2 6214 22E5 9C9F 9B75
	</div>
</div>
<br/>
<div class="row centered">
	{{#each contact in contacts}}
	<div class="span2">
		<div class="card">
			<a href="{{unbound contact.link}}">
				<div class="content">
					<img
						src="{{unbound contact.logo.url}}"
						width="{{unbound contact.logo.width}}"
						height="{{unbound contact.logo.height}}"
						alt="{{unbound contact.name}}"></img>
					<br>{{unbound contact.tagline}}
				</div>
			</a>
		</div>
	</div>
	{{/each}}
</div>
