<div class="row-fluid">
</div>
<div class="row-fluid centered">
	{{#each contact in contacts}}
		<div class="card" {{action click target="parentView"}}>
			<div class="front">
				<a href="{{unbound contact.link}}">
				<img
					src="{{unbound contact.logo.url}}"
					width="{{unbound contact.logo.width}}"
					height="{{unbound contact.logo.height}}"
					alt="{{unbound contact.name}}"></img>
				<br>{{unbound contact.tagline}}</a>
			</div>
			<div class="back">

			</div>
		</div>
	{{/each}}
</div>