<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="brand">Gianni Gambetti</a>
      <a class="brand hidden-desktop">{{App.router.infoController.content.motto}}</a>
      <div class="nav-collapse collapse">
        <ul class="nav">
          {{#each tab in view.content}}
          <li class="nav-element" id="loc-about">
            <a href="{{tab.location}}"><i class="{{unbound tab.icon}}"></i> {{tab.name}}/a>
          </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</div>