{% assign nav = page.nav | default: layout.nav %}
<div class="navbar-container">
  <div class="navbar menu">
    <span>{{ site.author }}</span>
    &gt;
    {% for nav_ in site.navigation %}
      {% if forloop.first != true %}
        |
      {% endif %}
      {% if nav == nav_.path %}
        <a href="{{site.baseurl}}/{{ nav_.path }}/">[[{{ nav_.name }}]]</a>
      {% else %}
        <a href="{{site.baseurl}}/{{ nav_.path }}/">{{ nav_.name }}</a>
      {% endif %}
    {% endfor %}
  </div>
    <abbr title="pin to top">
      <a class=navbar-dismiss href='javascript:pin_navbar();'>^</a>
    </abbr>
    <script type="text/javascript">
      function pin_navbar() {
        document.getElementsByClassName("navbar-container")[0].style["position"]="inherit";
        document.getElementsByClassName("navbar-dismiss")[0].style["visibility"]="hidden";
      }
    </script>
</div>
