---
layout: bare
nav: resume
page_name: Resume
tagline: Important things I've done
sections: [
	{
		title: "Experience"
		,id: "experience"
		,subsections : [
			{	title: "Blueprint"
				,id: "bp"
				,url: "http://www.blueprintsys.com/"
				,position: ".Net Developer"
				,dates: "2013-05 to 2013-08"
				,points: [
					"Started putting in place localization best practices"
					,"Worked with Rubik team to localize MS Visio import"
					,"Worked with Rubik team to determine a more flexible Z Ordering model for diagram editors"
					,"Participated in daily team standups"
				]
			},
			{	title: "Bazaarvoice"
				,id: "bv"
				,url: "https://bazaarvoice.com"
				,position: "Software Developer"
				,dates: "2012-09 to 2012-12"
				,points: [
					"Worked with Connections team to develop client configuration service"
					,"Trivially scaled to 100 requests per second"
					,"Written in Python using Flask and Memcached"
					,"Worked with Hadoop and Hive to measure unique traffic on peak days (black friday and cyber monday)"
					,"Participated in daily team standups"
				]
			},{
				title: "Desire2Learn"
				,id: "d2l2"
				,url: "https://desire2learn.com"
				,position: "Mobile Software Developer"
				,dates: "2012-01 to 2012-05"
				,points: [
					"Developed for Android"
					,"Primary developer on Grades integration module in Campus Life"
					,"Developed in house Android web request caching solution"
					,"Participated in daily team standups"
				]
			},{
				title: "Desire2Learn"
				,id: "d2l1"
				,url: "https://desire2learn.com"
				,position: "Software Developer"
				,dates: "2011-05 to 2011-11"
				,points: [
					"Refactored and improved Assignment Submission System middle layer"
					,"Refactoring was required for Public facing API layer being developed"
				]
			},{
				title: "Precidia"
				,id: "precidia"
				,url: "http://precidia.ca"
				,position: "ePayments Productivity Student"
				,dates: "2010-06 to 2010-09"
				,points: [
					"Design and creation of test plan for eCommerce site"
					,"Organizational improvements to customer facing wiki for product setup"
				]
			}
		]
	},{
		title: "Education"
		,id: "education"
		,subsections : [
			{	title: "University of Waterloo"
				,id: "uw"
				,url: "https://uwaterloo.ca"
				,position: "Bachelor of Computer Science"
				,dates: "2010-09 to 2015 (expected)"
				,points: [
					"Orientation leader (Tie Guard) 2013"
					,"Orientation leader (Head Black Tie) 2012"
					,"Orientation leader (Black Tie) 2011"
					,"Contributing writer to MathNews (Math Faculty student paper)"
				]
			},{	title: "Earl of March SS."
				,id: "eom"
				,url: "http://earlofmarch.com"
				,position: "High School Diploma"
				,dates: "2006-09 to 2010-06"
				,points: [
					"Member of the Ultimate Team"
					,"Junior Band ( 2 years )"
				]
			}
		]
	}
]
---
{% for section in page.sections %}
<div class="row" id='{{ section.id }}'>
	<div class="col-md-12 section-title">
		<h2>{{ section.title }}</h2>
	</div>
</div>
	{% for sub in section.subsections %}
	<div class="row sub-sections" id='{{ sub.id }}'>
		<div class="col-md-4">
			<h3 class="title"><a href="{{ sub.url }}">{{ sub.title }}</a></h3>
		</div>
		<div class="col-md-4">
			<h5 class="position">{{ sub.position }}</h5>
		</diV>
		<div class="col-md-1 hidden-xs"><!-- disappearing spacer div --></div>
		<div class="col-md-3">
			<h6 class="dates">{{ sub.dates }}</h6>
		</div>
	</div>
		{% if sub.points %}
		<div class="row points">
			<div class="col-md-12">
				<ul>
					{% for p in sub.points %}<li>{{ p }}</li>{% endfor %}
				</ul>
			</div>
		</div>
		{% endif %}
	{% endfor %}
{% endfor %}
