---
layout: bare
nav: blog
title: My Blog
tagline: Some stuff that I've written about
scripts: [ {'type':'text/javascript', 'url':'static/jquery.timeago.js', 'relative': true} ]
ommit_categories: [ 'resume', 'contact' ]
---
<div class="row-fluid">
	<div class="span2">
		The Previous Posts:
		<ul>
			{% for post in site.posts %}
				{% assign show = true %}
				{% for ommit in ommit_categories %}
					{% if ommit == post.category %}
						{% assign show = false %}
					{% endif %}
				{% endfor %}
				{% unless show %}
				<li>
					<a href="{{ post.url }}">{{ post.title }}</a>
				</li>
				{% endunless %}
			{% endfor %}
		</ul>
	</div>
	<div class="span8">
		{% assign post = site.posts.first %}
		<!-- {{ post }} -->
		<h2>{{ post.title }}</h2>
		{# Bleh...don't really like hard coding the fact it's utc time... #}
		<h6>Updated <abbr class="timeago" title="{{ post.updated }}Z">at {{ post.updated }}</abbr></h6>
		<br>
		{{ post.content }}
	</div>
</div>

