{% extends "base.html" %}

{% set active_tab = 'about' %}

{% set pagetitle = 'Gianni Gambetti' %}
{% set tagline = 'About Me' %}

{% block loadscripts %}
	<script type="text/javascript" src="{{config.root}}/static/jquery.timeago.js"></script>
{% endblock %}

{% block content %}
<div class="about">
	<div class="row-fluid">
		<div class="span2 hidden-phone"><!-- Awesome disappearing spacer div --></div>
		<div class="span8">
			<p>Hello! I'm Gianni Gambetti and this is my website. The information on this page may or may not be the most up to date, but it was updated <abbr class="timeago" title="{{last_updated}}">on {{last_updated}}</abbr>. If for whatever reason you need something that's more up to date, <a href="contact">send me a message</a>.
			</p>
			<!-- The abbr tag will be replaced with text that will always end in "ago" -->
			As quickly as possible, this is who I am:
			<blockquote>
				{{shortbio}}
			</blockquote>
			And here are all the details:
			<blockquote>
				{{fullbio}}
			</blockquote>
		</div>
	</div>
	<div class="row-fluid powered-by">
		<div class="span12">
			<h6>And a quick shout out to all of the tools and frameworks that help power this site!</h6>
			{% for tech in built_with %}
				<div class="row-fluid">
					<a href="{{tech.site}}">{{tech.title}}</a> - {{tech.description}}
				</div>
			{% endfor %}
		</div>
	</div>
</div>
{% endblock %}

{% block runscripts %}
	<script type="text/javascript">
	$('abbr.timeago').timeago();
	</script>
{% endblock %}
