{% import "navbar.html" as navigation with context %}
<html>
<head>
	<title>Gianni Gambetti</title>
	<meta
		name="viewport"
		content="width=device-width, initial-scale=1, maximum-scale=5, user-scalable=yes">
	<!-- default : compiled bootstrap + jquery + our stuff into 2 files -->
	<link type='text/css' rel="stylesheet" href="{{config.root}}/static/base.css">
	<script type="text/javascript" src="{{config.root}}/static/base.js"></script>
	<!-- other libraries -->
	{% block loadscripts %}{% endblock %}
</head>
<body>
	{{ navigation.navbar( active_tab, nav_tabs, motto, mottoLink ) }}
	<div class='container' id='content'>
		<div class="hero-unit">
			<h1>{{ pagetitle }}</h1>
			<p>{{ tagline }}</p>
		</div>
	{% block content %}
		Stuff
	{% endblock %}
	</div>
	{% block runscripts %}{% endblock %}
</body>
</html>
