{% extends "base.html" %}

{% set active_tab = 'blog' %}

{% set pagetitle = 'Editing Blog' %}
{% set tagline = "Writting more stuff" %}

{% block loadscripts %}
	<script type="text/javascript" src="{{config.root}}/static/nicEdit.js"></script>
{% endblock %}

{% block content %}
<div class="row-fluid">
	<div class="span2">
		The Previous Posts:
		<ul>
			{% for post in post_list %}
			<li>
				<a href="{{config.root}}/blog/{{post.id}}">{{post.title}}</a>
			</li>
			{% endfor %}
		</ul>
	</div>
	<div class="span8">
		<form action="{{config.root}}/blog/save/{{post.id}}" method=post name=title>
			<input type=hidden name=id value="{{post.id}}">
			<h2><input class="input-block-level" type=text name=title placeholder="Post Title" value="{{post.title}}"></h2>
			<textarea
				name=content
				id="post_edit"
				class="input-block-level"
				placeholder="Post Content"
				rows=10>{{post.content|safe}}</textarea>
			<input class="pull-right" type=submit value=Submit>
		</form>
	</div>
</div>
{% endblock %}

{% block runscripts %}
	<script type="text/javascript">
		$(document).ready(function(){
			config = {fullPanel : true, iconsPath: '{{config.root}}/static/nicEditorIcons.gif'};
			new nicEditor(config).panelInstance('post_edit');
		});
	</script>
{% endblock %}
