{% macro navbar( active_tab, tabs, motto, mottoLink ) %}
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand">Gianni Gambetti</a>
      <a class="brand hidden-desktop" href='{{mottoLink}}'>
        {{motto}}
      </a>
      <button type="button" class="btn btn-navbar pull-right" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="nav-collapse collapse">
        <ul class="nav">
          {% for tab in tabs %}
          <!-- tab: {{t}} -->
          
          <li class="nav-element {% if tab.location == active_tab %}active{% endif %}" id="{{ tab.id }}">
            <a href="/{{tab.location}}"><i class="{{tab.icon}}"></i>&nbsp;{{tab.name}}</a>
          </li>
          {% endfor %}
        </ul>
      </div>
      <div class="pull-right visible-desktop">
        <a class="brand" href='{{mottoLink}}'>
          {{motto}}
        </a>
      </div>
    </div>
  </div>
</div>
{% endmacro %}