{% extends "base.html" %}

{% set active_tab = 'resume' %}

{% set pagetitle = 'My Resume' %}
{% set tagline = "Where I've been, and what I've done" %}

{% block content %}
<div class="resume">
	{% for section in resume_sections %}
	<div class="row-fluid">
		<div class="span12 section-title">
			<h2>{{section.title}}</h2>
		</div>
	</div>
		{% for thing in section.elements %}
		<div class="row-fluid sub-sections">
			<div class="span3">
				<h3 class="title"><a href="{{thing.url}}">{{thing.title}}</a></h3>
			</div>
			<div class="span6">
				<h5 class="position">{{thing.position}}</h5>
			</diV>
			<div class="span3">
				<h6 class="dates">{{thing.start}} to {{thing.end}}</h6>
			</div>
		</div>
			{% if thing.points > 0 %}
			<div class="row-fluid points">
				<div class="span12">
					<ul>
						{% for point in thing.points %}
							<li>{{point}}</li>
						{% endfor %}
					</ul>
				</div>
			</div>
			{% endif %}
			
		{% endfor %}{# end of subsection #}
	
	{% endfor %}{# end of major section #}
</div>
{% endblock %}
