<html lang="en">
<head>
	<meta charset="utf-8"/>
	<title>{% if page.page_name %}{{ page.page_name }} - {% endif %}{{ site.title }}</title>
	<meta name="viewport"
		content="width=device-width, initial-scale=1, maximum-scale=5, user-scalable=yes">
	<!-- default : compiled bootstrap + jquery + our stuff into 2 files -->
	<link type='text/css' rel="stylesheet" href="{{ site.baseurl }}/static/base.css">
	<script type="text/javascript" src="{{ site.baseurl }}/static/base.js"></script>
	<!-- other libraries -->
	{% for script in page.scripts %}
	<script type="{{ script.type }}"
		src="{% if script.isrelative %}{{ site.baseurl }}{% endif %}{{ script.url }}"></script>
	{% endfor %}
</head>
<body>
  {% include navbar.html %}
  <div class='container' id='content'>
		<div class="jumbotron">
			<h1>{{ page.page_name }}</h1>
			<p>{{ page.tagline }}</p>
		</div>
		<div class="{{ page.nav }}">
    	{{ content }}
    	</div>
	</div>
</body>
</html>
