---
layout: bare
nav: blog
page_name: Blog
tagline: Stuff I've written about
---
{% if page.root_blog %}
	{% assign post = site.posts.first %}
	{% assign content = post.content %}
{% else %}
	{% assign post = page %}
{% endif %}
<h2>{{ post.title }}</h2>
{% if post.subtitle %}
  <h4>{{ post.subtitle }}</h4>
{% endif %}
<h6 class=menu>Updated on {{ post.date | date_to_string }}
	<a href="{{site.baseurl}}{{ post.url }}">permalink</a>
</h6>
<div class=menu>
	{% if post.previous %}
		<a href="{{site.baseurl}}{{ post.previous.url }}">&lt;&lt;&nbsp;({{ post.previous.title }})</a>
  {% else %}
    &nbsp;
	{% endif %}
	{% if post.next %}
		<a href="{{site.baseurl}}{{ post.next.url }}">({{ post.next.title }})&nbsp;&gt;&gt;</a>
  {% else %}
    &nbsp;
	{% endif %}
</div>
<hr/>
<div>
	{{ content }}
</div>
<hr/>
Previously Posted:
<ul>
	{% for post in site.posts %}
  	<li><a href="{{site.baseurl}}{{ post.url }}">{{ post.title }}</a>
	{% endfor %}
</ul>
<a href="{{site.baseurl}}/atom.xml">
	<img src="{{site.baseurl}}/static/images/feed-icon-14x14.png"/>
</a>
